{% extends 'chat/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">ChatGPT</h1>
            <p class="lead">The system that forms the basis of work</p>
            <hr class="my-4">
            <p>You can issue ChatGPT.</p>
        </div>

        {% for chatlog in chatlogs %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ chatlog.role }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ chatlog.thread }}</h6>
                    <p class="card-text">{{ chatlog.message }}</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
